/* site.css */
html,body,.container
{
  height: 100%;
}

body {
    padding-top: 70px;
}

footer {
    height: 500px;
    display: block;
}

.dashboard {
    padding-top: 35px;
}

.scroll-mark {
	padding-top: 100px;
	margin-top: -100px;
  height: 0px;
  visibility: hidden;
}

.container-fluid .container,
nav .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  max-width: 1300px;
}

.container-fluid {
  max-width: 1300px;
}

.ic-sidenav {
    width: 100%;
    min-width: 150px;
    max-width: 200px;
}

.ic-sidenav.affix {
    width: 11%;
    position: fixed;
}


.ic-sidenav .nav {
    display: block;
}

/* Affixed Sidebar */
.ic-sidebar {
    width: 100%;
    min-width: 150px;
    max-width: 400px;
}

.ic-sidebar.affix {
    position: fixed;
    width: 31%;
}
.ic-sidebar.affix-bottom {
    width: 100%;
    position: fixed;
}

@media (min-width: 992px) {
    .ic-sidebar .nav > .active > ul {
        display: block;
    }
    .ic-sidebar.affix,
    .ic-navbar.affix {
        position: fixed;
    }
}
@media (min-width: 1200px) {
}