<?php
if (!defined('YII_DEBUG')) 				{	define('YII_DEBUG', %%_.yiiDebug%%);				}
if (!defined('YII_TRACE_LEVEL')) 		{	define('YII_TRACE_LEVEL', %%_.yiiTraceLevel%%);			}

if (!defined('INFINITE_APP_INSTANCE_VERSION')) 	{	define('INFINITE_APP_INSTANCE_VERSION', %%_.version%%); 			}
if (!defined('INFINITE_APP_ENVIRONMENT')) 		{	define('INFINITE_APP_ENVIRONMENT', '%%general.template%%'); 			}
if (!defined('INFINITE_APP_ENVIRONMENT_PATH')) 	{	define('INFINITE_APP_ENVIRONMENT_PATH', '%%_.envPath%%'); 			}
if (!defined('INFINITE_APP_DATABASE_HOST')) 		{	define('INFINITE_APP_DATABASE_HOST', '%%database.host%%'); 		}
if (!defined('INFINITE_APP_DATABASE_PORT')) 		{	define('INFINITE_APP_DATABASE_PORT', '%%database.port%%'); 		}
if (!defined('INFINITE_APP_DATABASE_USERNAME')) 	{	define('INFINITE_APP_DATABASE_USERNAME', '%%database.username%%'); 	}
if (!defined('INFINITE_APP_DATABASE_PASSWORD')) 	{	define('INFINITE_APP_DATABASE_PASSWORD', '%%database.password%%'); 	}
if (!defined('INFINITE_APP_DATABASE_DBNAME')) 	{	define('INFINITE_APP_DATABASE_DBNAME', '%%database.dbname%%'); 		}
?>